<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title> Landing </title>
    <style>
        .customer{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;

        }
    </style>
</head>
<<body>
    <a href="/customers"> Go back to customers</a>
    <hr />
    <h1> This is the details of this {{ customer.first_name }} </h1>
    <p> This persons contact number: {{ customer.phone_number }} </p>
    <p> The agent for this customer is: {{ customer.agent }}</p>
    <hr />
    <a href="/customers/{{ customer.pk }}/update/">Update</a>
    <a href="/customers/{{ customer.pk }}/delete/">Delete</a>
</body>

</html>